<nav class="site-nav" role="navigation">
  <% link_to '/index.html', class: 'navbar-brand' do %>
    <%= image_tag '../assets/images/logo-plain.png' %>
  <% end %>

  <div class="nav-links">
    <% link_to '/index.html' do %>
      Home
    <% end %>
    <%= link_to 'About', '/about.html', :relative => true %>
    <%= link_to 'Work', '/work.html', :relative => true %>
    <%= link_to 'Contact', '/contact.html', :relative => true %>
  </div>
  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
