// ------------------------------------------------------------
// Site Nav
// ------------------------------------------------------------

.site-nav {
  @include clearfix;
  //background-color: #54ff09;
	
	@include media($medium-screen) {
		padding: .6em;
	}
	
  .navbar-brand {
    //display: flex;
    //align-items: center;
		//background-color: #f895f0;
		//display: block;
		float: left;
		height: 65px;

    img {
      height:65px;
			//background-color: #f325f0;
    }
  }

  .nav-links {
		//background-color: #002B36;
    //display: flex;
		//align-items: center;
    display: block;
		float: right;
    height: 0;
		overflow: hidden;
    margin: auto;
		@include media($medium-screen) {
			height: 65px;
		}

    a {
			@include trailing-hovers;
			@include media($medium-screen){
				//display: block;
				//vertical-align: middle;
				float: left;
				font-family: "freightsans_regular",sans-serif;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 3px;
				color: #444;
				padding: 1.5em;
				&:hover {
					// background: #002B36;
					color: #16a6b6;
				}
			}
    }
  }
}

// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
	position: absolute;
	top: 2em;
	right: 1.5em;
	z-index: 2;

	@include media($medium-screen) {
		display: none;
	}

  i {
    font-size: 2em;
    line-height: 0;
    display: block;
    color: #002B36;
  }

	.icon {
		display: block;
		font-size: 2em;
		cursor: pointer;
	}
}

// Menu active
.menu-active {

	.nav-links {
		//display: block;
		height: auto;
		overflow: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(239,232,213,.95);
    box-shadow: 0 10px 10px rgba(0,43,54,.4);

		a {
      display: block;
      margin: 2em 0;
      text-align: center;
      color: #002B36;
      line-height: 0;
      font-family: "freightsans_regular",sans-serif;
      font-weight: 300;
      text-transform: uppercase;
	
	
		}
	}
}
