// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}
//
.site-header {
  position: relative;
	@include clearfix;
	background-color: $white;
}
//code added by pid_omrfs
//sticky header on top
.site-header.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	//max-width: 100%;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	//background-color: rgba(1, 1, 1, 0.8);
	//color: rgba(1, 1, 1, 0.8);
	background-color: #fff;
	z-index:99999;
	//@include animation--fadedown(.25);
	.site-nav{
		padding: .2em;
	}
}
//
//end of code added by pid_omrfs
//
/*
.site-main {
  @include section_padding(2em);

  @include media($medium-screen) {
    @include section_padding(5em);
  }
}
*/

.site-footer {
  @include section_padding(1em);
  border-top: 1px solid #eee;
}

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
  font-family: "freightsans_regular","Helvetica Neue","Helvetica","Arial",sans-serif;
}

// ------------------------------------------------------------
// Hero Image with text 
// ------------------------------------------------------------
.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  

  
  background-color: #324766;
  background: url('../images/hero-image.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
/*
    button {
      @include button(flat, $action-color);
      padding: 0.7em 1em;
    }*/
  }
}
// ------------------------------------------------------------
//  Class module
// ------------------------------------------------------------
.module {
    padding:25px 20px 10px;
    zoom: 1;
    color: $light-gray;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0;
    line-height: 32px;
   font-family: "brandon-grotesque",sans-serif;  
  
    @include media($large-screen) {
      padding:40px 0;
      zoom: 1;
      p{
      
      font-size: 1.4em;
    }
  }
}
// Enter Neat
.section-module {
  background-color: $light-green;
  
}

.featured-section {
  padding:25px 20px 10px;
   @include media($large-screen) {
  @include outer-container;
  aside { @include span-columns(5); }
  article { @include span-columns(7); }
}
}
// ------------------------------------------------------------
//  Three columns
// ------------------------------------------------------------
#three-clumns {
max-width: 100%;
margin-right: auto;
margin-left: auto;
@include outer-container;
position: relative;
}
.three-clumns {
	float: left;
	width:300px;
	@include span-columns(4);
}

// ------------------------------------------------------------
// gallery on work page
// ------------------------------------------------------------
// CHANGELOG
// 2014/12/21 Created the pen
// 2015/01/14 Cleaned the code and documented it
// 2015/05/27 Switched missing picture to a working one, changed couple of pictures to match the color scheme better and made some small changes to the code


// NOTES
// * I'm using Autoprefixer and haven't prefixed styles because of that



//============
// MIXINS
 @include breakpoint(1280px) { width: 33.3333%; }
    @include breakpoint(960px)  { width: 50%; }
    @include breakpoint(480px)  { width: 100%; }
// Mixin for breakpoints
@mixin breakpoint($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}



//============
// ELEMENTS

// Set cursor to pointer for labels that have 'for' attribute
label[for] {
  cursor: pointer;
}


// Hide checkboxes. They're triggered through labels
input[type="checkbox"] {
  display: none;
}


// When toggling lightbox grid's opacity will lower and body's black background color will make a fading element
body {
  background-color: #000;
}


// Containers
%container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}


// Lightboxes
// Hiding lightboxes happens by setting their scale to 0. This way it's possible to create animated transition when showing them
.lightbox {
  @extend %container;
  
  z-index: 1;
  min-height: 100%;
  overflow: auto;
  transform: scale(0);
  transition: transform .5s ease-out;
  
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 96%;
    max-height: 96%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
  }
}


// Set lightboxes scale to 1 when opening lightbox. Read more above
input[type="checkbox"]:checked + .lightbox {
  transform: scale(1);
}


// Reduce grid's opacity when opening lightbox. Read more above
input[type="checkbox"]:checked ~ .grid {
  opacity: .125;
}


// The grid of images
.grid {
  @extend %container;
  
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  padding: 16px;
  overflow: auto;
  z-index: 0;
  background-color: #222;
  text-align: center;
  transition: opacity .75s;
  
  .grid-item {
    display: block;
    width: 25%;
    padding: 16px;
    opacity: .75;
    transition: opacity .5s;
  
    &:hover {
      opacity: 1;
    }
    
   
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
  }
}


// second demo
//http://codepen.io/miroot/pen/LEZvgV
//http://codepen.io/dudleystorey/pen/eAqzk

div#masonry img {  
  transition: .8s opacity;
} 
div#masonry:hover img { opacity: 0.3; }
div#masonry:hover img:hover { opacity: 1; } 

/* fallback for earlier versions of Firefox */
@supports not (flex-wrap: wrap) {
  div#masonry { display: block; }
  div#masonry img {  
  display: inline-block;
  vertical-align: top;
  }
}

 
