---
title: Gear Studio | Home
---
<!-- Full Bleed Image -->
<div class="hero">
	<div class="hero-inner">
		<a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
		" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Short description of Product</h1>
		<p>A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
		<!--<button>Learn More</button>-->
	</div>
</div>

<div class="container module">
	<p>
		WebGear is a small design studio based in the Bay Area. We specialise in the design and implementation of great looking & highly functional websites.
	</p>
	
	<p>
		WebGear is a small design studio who specialise in the design and implementation of great looking & highly functional websites. We like to work on projects of all shapes and sizes including - but not limited to - branding, design, development and eCommerce. We like to work closely with our clients to ensure that the end project is something we both love. We're very friendly so please don't hesitate to get in touch regarding any quotes or general enquiries you may have.
	</p>

</div>


<div class="section-module">
	<section class="featured-section">
		<aside>
			What is it about?
		</aside>
		<article>
			Neat is an open source semantic grid framework built on top of Sass and Bourbon…
		</article>
	</section>
</div>

<!--<i class="fa fa-3x fa-flash"></i>-->
<div id="three-clumns">
	<div class="three-clumns">
	 <i class="fa fa-3x fa-flash"></i>
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	 </p>
	</div>
	<div class="three-clumns">
	 <i class="fa fa-3x fa-flash"></i>
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	 </p>
	</div>
	<div class="three-clumns">
		<i class="fa fa-3x fa-flash"></i>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	 </p>
	</div>
</div>
<br clear="all" />


						
