---
title: Gear Studio | Work
---

<div class="container module">

	<input type="checkbox" id="pic-1"/>
	<label for="pic-1" class="lightbox"><img src="//unsplash.it/800/600?image=1"/></label>
	<input type="checkbox" id="pic-2"/>
	<label for="pic-2" class="lightbox"><img src="//unsplash.it/800/600?image=20"/></label>
	<input type="checkbox" id="pic-3"/>
	<label for="pic-3" class="lightbox"><img src="//unsplash.it/800/600?image=635"/></label>
	<input type="checkbox" id="pic-4"/>
	<label for="pic-4" class="lightbox"><img src="//unsplash.it/800/600?image=42"/></label>
	<input type="checkbox" id="pic-5"/>
	<label for="pic-5" class="lightbox"><img src="//unsplash.it/800/600?image=180"/></label>
	<input type="checkbox" id="pic-6"/>
	<label for="pic-6" class="lightbox"><img src="//unsplash.it/800/600?image=625"/></label>
	<input type="checkbox" id="pic-7"/>
	<label for="pic-7" class="lightbox"><img src="//unsplash.it/800/600?image=201"/></label>
	<input type="checkbox" id="pic-8"/>
	<label for="pic-8" class="lightbox"><img src="//unsplash.it/800/600?image=7"/></label>
	<input type="checkbox" id="pic-9"/>
	<label for="pic-9" class="lightbox"><img src="//unsplash.it/800/600?image=48"/></label>
	<input type="checkbox" id="pic-10"/>
	<label for="pic-10" class="lightbox"><img src="//unsplash.it/800/600?image=180"/></label>
	<input type="checkbox" id="pic-11"/>
	<label for="pic-11" class="lightbox"><img src="//unsplash.it/800/600?image=534"/></label>
	<input type="checkbox" id="pic-12"/>
	<label for="pic-12" class="lightbox"><img src="//unsplash.it/800/600?image=24"/></label>
	<div id="masonry" class="grid" >

		<!-- Loop all pictures and print the actual images-->
		<label for="pic-1" class="grid-item"><img src="//unsplash.it/400/300?image=1"/></label>
		<label for="pic-2" class="grid-item"><img src="//unsplash.it/400/300?image=20"/></label>
		<label for="pic-3" class="grid-item"><img src="//unsplash.it/400/300?image=635"/></label>
		<label for="pic-4" class="grid-item"><img src="//unsplash.it/400/300?image=42"/></label>
		<label for="pic-5" class="grid-item"><img src="//unsplash.it/400/300?image=180"/></label>
		<label for="pic-6" class="grid-item"><img src="//unsplash.it/400/300?image=625"/></label>
		<label for="pic-7" class="grid-item"><img src="//unsplash.it/400/300?image=201"/></label>
		<label for="pic-8" class="grid-item"><img src="//unsplash.it/400/300?image=7"/></label>
		<label for="pic-9" class="grid-item"><img src="//unsplash.it/400/300?image=48"/></label>
		<label for="pic-10" class="grid-item"><img src="//unsplash.it/400/300?image=180"/></label>
		<label for="pic-11" class="grid-item"><img src="//unsplash.it/400/300?image=534"/></label>
		<label for="pic-12" class="grid-item"><img src="//unsplash.it/400/300?image=24"/></label>
	</div>	
</div>